{% if site.formspree %}
<form action="https://formspree.io/mayylpga" method="POST">
  <label>
    Name:
    <input type="text" id="contact-fullname" name="name" maxlength="80">
  </label>
  <label>
    Your email:
    <input type="email" id="contact-email" name="_replyto">
  </label>
  <label>
    Subject:
    <select id="contact-subject" name="subject">
    	<option value="general enquiry" selected="selected">General enquiry</option>
        <option value="sponsorships">Sponsorships</option>
        <option value="ngo benefits">NGO benefits</option>
        <option value="event organisation">Event organisation </option>
        <option value="other">Other</option>
    </select>
  </label>
  <label>
    Your message:
    <textarea id="contact-message" name="message"></textarea>
  </label>
  <input type="hidden" name="_subject" value="Contact Us - Light & Spark NPO" />
  <input type="submit" value="Send" class="lnsnpo-active-button">
</form>
{% endif %}
